<div id="sidebar">
                        
	<aside class="widget widget_text">
        <h2 class="widget-title">About </h2>
        <div class="textwidget">
            blablbalablablabalbalabalaba bsbaljshaskjhaskjhas hasukhsgjkagshasg aksg ahjsgajhsg asgahsgajhsg
        </div><!--end:textwidget-->
    </aside><!--end:widget-->
    
    <aside class="widget widget_categories">
    	<h2 class="widget-title">{{t.[page.lang].blog.categoria}}</h2>		
        <ul>
            {% for post in site.tags.blogpost %}
                {% for category in post.categoria %}

                    <li class="cat-item">
                        <a  title="" href="#">{{category}}</a>
                    </li>

                {% endfor %}
            {% endfor %}
        
        </ul>
    </aside><!--end:widget_categories-->
    
    <aside class="widget widget_tag_cloud">
        <h2 class="widget-title">Tag cloud</h2>
        
        <div class="tagcloud">
          {% if page.layout == 'blogpost_layout' %}
            {% for tag in page.etiquetes %}
                <a href="#">{{tag}}</a>
            {% endfor %}
          {% endif %}

          {% if page.layout == 'blog_layout' %}
            {% for post in site.tags.blogpost %}
                {% for tag in post.etiquetes %}
                    <a href="#">{{tag}}</a>
                {% endfor %}
            {% endfor %}
          {% endif %}

        </div><!--end:tagcloud-->
    </aside><!--end:widget-->

</div><!--end:sidebar-->