    <footer id="page-footer">
    
    	<div class="wrapper">
        
        	<div class="row-fluid">
            
            	<div class="span12 clearfix">
                
                	<div class="copyright">
                    	<p>Grid - Html5 template © 2013 by <a  href="www.felixplus.com">FelixPlus.com</a></p>
                        <span>All stock photos used on this Grid demo site are only for demo purposes and not included in the template package.</span>
                    </div><!--end:copyright-->
                    
                    <div class="social-media-widget">
                    	<div class="social-bookmarks">                    
        					<ul>
                            	<li class="vimeo"><a href="#" target="_blank">vimeo</a></li>
                                <li class="flickr"><a href="#" target="_blank">flickr</a></li>
                                <li class="twitter"><a href="#" target="_blank">twitter</a></li>
                                <li class="facebook"><a href="#" target="_blank">facebook</a></li>                                
                                <li class="youtube"><a href="#" target="_blank">youtube</a></li>
        					</ul>
    					</div><!--end:social-bookmarks-->
					</div><!--end:social-media-widget-->
					
					<p id="back-top">
						<a href="#top"><i class="icon-chevron-up"></i></a>
					</p><!--end:back-top-->
                
                </div><!--end:span12-->
            
            </div><!--end:row-fluid-->
        
        </div><!--end:wrapper-->
    
    </footer><!--end:page-footer-->