    <footer id="page-footer">
    
    	<div class="wrapper">
        
        	<div class="row-fluid">
            
            	<div class="span12 clearfix">
                

                    <div id="logo-image2" class="span1" style= "margin-top:5px;">
                    
                        <a href="http://hangar.org/" target="_blank"><img  src="{{site.url}}/placeholders/logo_hangar.png"  alt="" /></a>
                        
                    </div><!--end:logo-image-->
                    
                    <div class="social-media-widget">
                    	<div class="social-bookmarks">                    
        					<ul>
                                <li class="twitter"><a href="https://twitter.com/faboratory" target="_blank">twitter</a></li>
                                <li class="facebook"><a href="https://www.facebook.com/Faboratory" target="_blank">facebook</a></li>                                
                                
        					</ul>
    					</div><!--end:social-bookmarks-->
					<!--</div>--><!--end:social-media-widget-->
					
					<p id="back-top">
						<a href="#top"><i class="icon-chevron-up"></i></a>
					</p><!--end:back-top-->
                
                </div><!--end:span12-->
            
            </div><!--end:row-fluid-->
        
        </div><!--end:wrapper-->
    
    </footer><!--end:page-footer-->
