<!doctype html>
<html lang="cat">
<head>
    <meta charset="UTF-8" />
	<title>FABoratory - 3D printers</title>
	<meta name="description" content="FABoratory - 3D printers" />

	<meta name="keywords" content="3D, printers, openhardware, workshops" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
    <link rel="stylesheet" href="{{site.url}}/css/bootstrap.css" media="all">
    <link rel="stylesheet" href="{{site.url}}/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="{{site.url}}/css/flexslider.css" media="all">
    <link rel="stylesheet" href="{{site.url}}/css/prettyPhoto.css" media="all">
    <link rel="stylesheet" href="{{site.url}}/css/mediaelementplayer.min.css" media="all">
    <link rel="stylesheet" href="{{site.url}}/css/pf-dropdown.css" media="all">
    <link rel="stylesheet" href="{{site.url}}/css/superfish.css" media="all">
	<link rel="stylesheet" href="{{site.url}}/css/bra_social_media.css" media="all">
	<link rel="stylesheet" href="{{site.url}}/css/component.css" media="all">
	<link rel="stylesheet" href="{{site.url}}/css/theme-options.css" media="all">
    <link rel="stylesheet" href="{{site.url}}/css/style.css" media="all" />
    <link rel="stylesheet" href="{{site.url}}/css/bootstrap-responsive.css" media="all">
    <link rel="stylesheet" href="{{site.url}}/css/responsive.css" media="all">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<link rel="stylesheet" href="css/ie.css" type="text/css" media="all" />		
    <![endif]-->

    <!-- Favicons
        ================================================== -->
    <link rel="shortcut icon" href="{{site.url}}/placeholders/logo3.jpg">
	
	<!-- Style
	================================================== -->
    <link rel="stylesheet" href="{{site.url}}/css/skin/orange.css" type="text/css" id="colors" />
    <link rel="stylesheet" href="{{site.url}}/css/skin/orange.css" type="text/css" id="templates" />

    <!-- Font
            ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,300italic,200italic,400italic,600italic,600,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

</head>
<body class="{{page.body}} dark-footer">
	
	<header id="flx-header" class="flx-divider">
    	
        <div class="wrapper">
        	
            <div class="row-fluid">
            	
                <div class="span12 clearfix">
                	
                    <div id="logo-image" class="span1">
                    
                    	<a href="{{site.url}}/index.html"><img src="{{site.url}}/placeholders/logo3.jpg" alt="" /></a>
                        
                    </div><!--end:logo-image-->
                    
                     <nav id="main-nav">
                    
                    	<ul id="main-menu" class="clearfix">
                        
                        	<li>
                            	<a href="{{site.url}}/index.html"> Novetats</a>
                                <ul>
                                	<li><a href="#Features">Features</a></li>
                                    <li><a href="#Blog">Blog Posts</a></li>
                                </ul>
                            </li>
                            <li >
                            	<a href="tallers.html"> Tallers</a>
                                <ul>
                                	<li><a href="{{site.url}}/catA.html">Cat A</a></li>
                                    <li><a href="{{site.url}}/catB.html">Cat B</a></li>
                                    <li><a href="{{site.url}}/catC.html">Cat C</a></li>
                                </ul>
                            </li>
                            <li >
                            	<a href="portfolio.html"> Màquines</a>
                                <ul>
                                	<li><a href="portfolio-4col.html">Cat A</a></li>
                                    <li ><a href="portfolio-3col.html">Cat B</a></li>
                                    <li><a href="portfolio-2col.html">Cat C</a></li>
                                </ul>
                            </li>
                            <li>
                            	<a href="#"> Projectes</a>
                            </li>
                             <li>
                            	<a href="blog.html"> Blog</a>
                                </li>
                                <li>
                                       <a href="{{site.url}}/info.html"> Info </a>
                                        <ul >
                                            <li><a href="#about">About</a></li>
                                            <li><a href="#mapa">Mapa </a></li>
                                            <li><a href="#equip">Equip </a></li>
                                        </ul>
                                </li>
                        </ul><!--end:main-menu-->
						
                     <div id="dl-menu" class="dl-menuwrapper">
                            <button>Open Menu</button>
                            <ul class="dl-menu">
                                <li>
                                    <a href="{{site.url}}/index.html">Novetats</a>
                                    <ul class="dl-submenu">
                                        <li class="dl-back"><a href="#">back</a></li>
                                        <li><a href="#Features">Features </a></li>
                                        <li><a href="#About">Blog Posts</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{{site.url}}/tallers.html">Tallers</a>
                                    <ul class="dl-submenu">
                                        <li class="dl-back"><a href="#">back</a></li>
                                        <li><a href="{{site.url}}/catA.html">Cat A</a></li>
                                        <li><a href="{{site.url}}/catB.html">Cat B</a></li>
                                        <li><a href="{{site.url}}/catC.html">Cat C</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="portfolio.html">Màquines</a>
                                    <ul class="dl-submenu">
                                        <li class="dl-back"><a href="#">back</a></li>
                                        <li><a href="portfolio.html">Cat A</a></li>
                                        <li><a href="portfolio-4col.html">Cat B</a></li>
                                        <li><a href="portfolio-3col.html">Cat C</a></li>
                                        <li>
                                            <a href="project-details.html">Projectes</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                </li>
                                <li>
                                    <a href="{{site.url}}/info.html">Info</a>
                                    <ul class="dl-submenu">
                                        <li class="dl-back"><a href="#">back</a></li>
                                        <li><a href="#about">About</a></li>
                                        <li><a href="#mapa">Mapa</a></li>
                                        <li><a href="#equip">Equip</a></li>
                                    </ul>
                                </li>
                       
                            </ul>
                        </div><!-- /dl-menuwrapper -->
	
                        
                    </nav><!--end:main-nav-->
                    
                </div><!--end:span12-->
                
            </div><!--end:row-fluid-->
            
        </div><!--end:wrapper-->
        
    </header><!--end:flx-header-->