<section class="widget portfolio-widget flx-divider ff-container">

    <header class="flx-header flx-divider">
        <div class="wrapper flx-line clearfix">
        </div><!--end:wrapper-->
    </header>
    
    <div class="wrapper flx-line">
    
        <div class="row-fluid">
            
            <div class="span12">

            {% if page.tags[0] == 'workshop' %}
                
                <h2 class="widget-title">{{t.[page.lang].tallers.altres}}</h2>
                
                <ul class="pf-box clearfix">
                    {% for tt in site.tags.workshop reversed%}

                        {% if tt.title == page.title%}

                       {% else %}
                        <li>
                            <div class="view view-first">
                                <img src="{{site.url}}/placeholders/portfolio-images/{{tt.image}}" alt="" />
                                <div class="mask">
                                    <ul>
                                        <li class="pf-lightbox"><a> o</a></li>
                                        <li class="pf-header"><a href="{{site.url}}{{tt.url}}" onClick="return felixplus_portfolio_detail_click(jQuery(this), 1, true);">{{tt.title}}</a></li>

                                    </ul>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>

            {% endif %}

            {% if page.tags[0] == 'machine' %}
                
                <h2 class="widget-title">{{t.[page.lang].maquines.altres}}</h2>
                
                <ul class="pf-box clearfix">
                    {% for tt in site.tags.machine reversed%}

                        {% if tt.title == page.title%}

                        {% else %}
                        <li>
                            <div class="view view-first">
                                <img src="{{site.url}}/placeholders/portfolio-images/{{tt.image}}" alt="" />
                                <div class="mask">
                                    <ul>
                                        <li class="pf-lightbox"><a> o</a></li>
                                        <li class="pf-header"><a href="{{site.url}}{{tt.url}}" onClick="return felixplus_portfolio_detail_click(jQuery(this), 1, true);">{{tt.title}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                 </ul>

            {% endif %}

            {% if page.tags[0] == 'project' %}
                
                <h2 class="widget-title">{{t.[page.lang].projectes.altres}}</h2>
                
                <ul class="pf-box clearfix">
                    {% for tt in site.tags.project reversed%}

                        {% if tt.title == page.title%}

                        {% else %}
                        <li>
                            <div class="view view-first">
                                <img src="{{site.url}}/placeholders/portfolio-images/{{tt.image}}" alt="" />
                                <div class="mask">
                                    <ul>
                                        <li class="pf-lightbox"><a> o</a></li>
                                        <li class="pf-header"><a href="{{site.url}}{{tt.url}}" onClick="return felixplus_portfolio_detail_click(jQuery(this), 1, true);">{{tt.title}}</a></li>

                                    </ul>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                 </ul>

            {% endif %}
               
                    
            </div><!--end:span12-->
            
        </div><!--end:row-fluid-->
        
    </div><!--end:wrapper-->

</section><!--end:portfolio-widget-->