{% include header.html %}
    
    <div id="main-content">

           <div  class="flx-divider">
            <div class="wrapper flx-line">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="flx-intro">
                                   <br> <br> <br> 
                                   <h1> <p> ERROR 404 </p></h1>
                                    <br> <br> <br> 

                        </div>
                    </div>
                </div><!--end:row-fluid-->
            </div><!--end:wrapper-->
        </div><!--end:flx-divider-->
        

        <div  class="flx-divider">
            <div class="wrapper flx-line">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="flx-intro">
                      				{{content}}
                                    <br> <br> <br> <br> <br> 

                        </div>
                    </div>
                </div><!--end:row-fluid-->
            </div><!--end:wrapper-->
        </div><!--end:flx-divider-->

        


        
    </div><!--end:main-content-->

    
    {% include footer.html %}
    {% include scripts.html %}
