{% include header.html %}

  <div id="main-content">
        <div class="breadcrumb flx-divider">
        
            <div class="wrapper flx-line">
            
                <div class="row-fluid">
                
                    <div class="span12 clearfix">
                        <a  href="{{site.url}}/index.html">Home</a>
                        <span>&nbsp;&nbsp;/&nbsp;&nbsp;</span>
                        <span>{{t.[page.lang].info.informacio}}</span>
                    </div><!--end:span12-->
                
                </div><!--end:row-fluid-->
            
            </div><!--end:wrapper-->
        
        </div><!--end:breadcrumb-->

        <section class="  flx-intro flx-divider">
        
            <div class="wrapper flx-line">
            
                <div class="row-fluid">
                
                    <div class="span12 clearfix">
                        
                        <div class=" elements-box flx-intro-content">
                        
                            <h1 class="element-title">{{t.[page.lang].info.informacio}}</h1>
                            
                        </div><!--end:flx-intro-content-->
                    
                    </div><!--end:span12-->
                
                </div><!--end:row-fluid-->
            
            </div><!--end:wrapper-->
            
        </section><!--end:flx-intro-->
    
    <div  class="elements-box flx-divider">
        
            <div class="wrapper flx-line clearfix">
            
                <div id ="about" class="row-fluid">
                    
                    <div class="span8">
                        <h2 class="element-title">About</h2>
                        
                        <div class="elements-box-right">
                            {{page.content}}
                        </div> <br>
                        
   
                        
                    </div><!--end:span8-->

                    <div class="span3">
                        <h2 class="element-title"> {{t.[page.lang].info.contacte}}</h2>
                        
                        <div class="elements-box-right">
                            <p> info@faboratory.org </p>
                        </div> <br>
 
                    </div><!--end:span3-->
                
                </div><!--end:row-fluid-->

                <hr></hr>
                
                <div  id ="map" class="row-fluid">

                    <div class="span12">
                        <h2 class="element-title"> {{t.[page.lang].info.mapa}} </h2>
                        
                        <div class="elements-box-right">
                            <div id="map_canvas"></div>

                            
                        </div> <br>
 
                    </div><!--end:span12-->
                

                
                </div><!--end:row-fluid-->

                <hr></hr>
            
                <div  id ="equip" class="row-fluid">

                     <div class="span12">
                        <h2 class="element-title"> {{t.[page.lang].info.equip}} </h2>
                        
                        <div class="elements-box-right">
                          
                          {% for team in page.team_names %}

                            <article class="pf-detail-item clearfix">

                                <div class="pf-detail-img span3"><img src="{{site.url}}/placeholders/avatar/{{page.team_images[forloop.index0]}}" alt="" /></div>
                                 <div class="pf-content clearfix span6">
                                    <h3> {{team}}</h3>   
                                     <p>{{page.team_description[forloop.index0]}}</p>
                                 </div> <br>

                            </article>

                            {% unless forloop.last %}
                              <hr></hr>
                            {% endunless %}

                          {% endfor %}
                            
                        </div> <br>
 
                    </div><!--end:span12-->

                
                </div><!--end:row-fluid-->
            </div><!--end:wrapper-->
            
        </div><!--end:elements-box-->
        
    </div><!--end:main-content-->
{% include footer.html %}

<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
      function initialize() {
        var map_canvas = document.getElementById('map_canvas');
        var myLatlng = new google.maps.LatLng(41.40820, 2.19978);

        var map_options = {
          center: myLatlng,
          zoom: 15,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(map_canvas, map_options);

          var marker = new google.maps.Marker({
              position: myLatlng,
              map: map,
              title: 'Hello World!'
         });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>


{% include scripts.html %}
    