{% include header.html %}

  <div id="main-content">

        <section class="  flx-intro flx-divider">
        
            <div class="wrapper flx-line">
            
                <div class="row-fluid">
                
                    <div class="span12 clearfix">
                        
                        <div class=" elements-box flx-intro-content">
                        
                            <h1 class="element-title">Informació</h1>
                            
                        </div><!--end:flx-intro-content-->
                    
                    </div><!--end:span12-->
                
                </div><!--end:row-fluid-->
            
            </div><!--end:wrapper-->
            
        </section><!--end:flx-intro-->
    
    <div class="elements-box flx-divider">
        
            <div class="wrapper flx-line clearfix">
            
                <div class="row-fluid">
                    
                    <div class="span8">
                        <h2 class="element-title">About</h2>
                        
                        <div class="elements-box-right">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae erat libero. Phasellus mauris erat, dapibus nec feugiat vel, lobortis sed diam. Fusce vehicula nisl vel dui ullamcorper nec condimentum nisi dictum. Donec quis diam nec ipsum gravida eleifend. Integer risus odio, bibendum quis ullamcorper et, sagittis id neque. Nunc fringilla, orci eu porta tristique, lectus nunc facilisis tortor, ac mattis mi nunc vitae justo. Nulla enim quam, porttitor non vestibulum nec, cursus quis nulla.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis risus nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla facilisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus luctus, tellus eget mattis scelerisque, quam lacus cursus nunc, eu adipiscing mauris enim vitae erat. Phasellus ornare lorem vitae sem luctus congue. Praesent a enim purus.</p>
                        </div> <br>
                        
   
                        
                    </div><!--end:span8-->

                    <div class="span3">
                        <h2 class="element-title"> Contacte</h2>
                        
                        <div class="elements-box-right">
                            <p> info@faboratory.org </p>
                        </div> <br>
 
                    </div><!--end:span3-->
                
                </div><!--end:row-fluid-->

                <hr></hr>
                
                <div class="row-fluid">

                    <div class="span12">
                        <h2 class="element-title"> Mapa </h2>
                        
                        <div class="elements-box-right">
                            
                        </div> <br>
 
                    </div><!--end:span12-->
                

                
                </div><!--end:row-fluid-->
            
                <hr></hr>
                <div class="row-fluid">

                     <div class="span12">
                        <h2 class="element-title"> Equip </h2>
                        
                        <div class="elements-box">
                            
                        </div> <br>
 
                    </div><!--end:span12-->

                
                </div><!--end:row-fluid-->
            </div><!--end:wrapper-->
            
        </div><!--end:elements-box-->
        
    </div><!--end:main-content-->
{% include footer.html %}
{% include scripts.html %}
    