{% include header.html %}
    
    <div id="main-content">
        
        <div class="fullwidthbanner-container">
            <div class="fullwidthbanner">
                <ul>
                    <!-- THE FIRST SLIDE -->
                    <li data-transition="fade" data-slotamount="10" data-masterspeed="300" data-thumb="images/thumbs/thumb1.jpg">
                                <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                                <img src="placeholders/slider/revolution-bg-1.jpg" alt="" >

                                
                                
                    </li>

                    
                </ul>

                <div class="tp-bannertimer"></div>
            </div>
        </div>	
        
        
         <div class="flx-divider">
            <div class="wrapper flx-line">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="flx-intro">
                      				<h1><p>En construcció...  </p></h1>
                        </div>
                    </div>
                </div><!--end:row-fluid-->
            </div><!--end:wrapper-->
        </div><!--end:flx-divider-->

        <div  class="flx-divider">
            <div class="wrapper flx-line">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="flx-intro">
                      				{{content}}
                        </div>
                    </div>
                </div><!--end:row-fluid-->
            </div><!--end:wrapper-->
        </div><!--end:flx-divider-->

        
        <div id="Features" class="flx-divider">
        
        	<div class="wrapper flx-line">

                <div class="row-fluid">
                
                	<div class="span12 ">
                    
                    	<ul  class="flx-service-4 clearfix">
                            <li class="clearfix">
                                <span ><i class="icon-star-empty"></i></span>
                                <div class="entry-content">
                                    <h5 class="entry-title"><a href="#" >Support 24/7</a></h5>
                                    <p>Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat.</p>
                                </div>
                            </li>
                                <li class="clearfix">
                                <span ><i class="icon-star-empty"></i></span>
                                <div class="entry-content">
                                    <h5 class="entry-title"><a href="#" >Support 24/7</a></h5>
                                    <p>Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat.</p>
                                </div>
                            </li>
                                <li class="clearfix">
                                <span ><i class="icon-star-empty"></i></span>
                                <div class="entry-content">
                                    <h5 class="entry-title"><a href="#" >Support 24/7</a></h5>
                                    <p>Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat.</p>
                                </div>
                            </li>
                        </ul>
                    	
                    </div><!--end:span12-->
                
                </div><!--end:row-fluid-->
            
            </div><!--end:wrapper-->
            
        </div><!--end:flx-divider-->

         <div id="Blog" class="flx-divider">
        
        	<div class="wrapper flx-line">

                <div class="row-fluid">
                
                	<div class="span12">

         	 <div class="widget flx-latest-blog">
                
                	<h2 class="widget-title">Latest Blogs</h2>
                    
                    <div id="container" class="clearfix entry-item-list">
                
                        <article class="post-item standard-post element">
                            
                            <div class="flx-entry-thumb">
                                <a href="#"><img src="placeholders/post-images/post-1.jpg" alt="" /></a>
                            </div><!--end:flx-entry-thumb-->
                            <header>
                                <h2 class="entry-title"><a  href="#">Morbi tristique, mauris eu imperdiet bibendum.</a></h2>
                                <span class="entry-author"><i class="icon-user"></i><a  href="#">Administrator</a></span>
                                <span class="entry-date"><i class="icon-time"></i>28.4.2013</span>
                                <span class="entry-categories"><i class="icon-suitcase"></i><a  href="#">illustrator</a></span>
                                <span class="entry-comment"><i class="icon-comments-alt"></i><a  href="#">15 comments</a></span>
                            </header>
                            <div class="entry-content clearfix">                                	
                                <p>In varius varius justo, eget ultrices mauris rhoncus non. Morbi tristique, mauris eu imperdiet bibendum, velit diam iaculis velit, in ornare massa enim at lorem. Etiam risus diam, porttitor vitae ultrices quis, dapibus id dolor. Morbi venenatis lacinia rhoncus. Vestibulum tincidunt ullamcorper eros eget luctus. Nulla eget porttitor libero.</p>
                                <a href="#" class="small-button green more-link">Continue reading</a>
                                <div class="outside-info">
                                    <p class="outside-date">28<span>Mar</span></p>
                                    <p class="outside-icon"><i class="icon-picture"></i></p>
                                </div><!--end:outside-info-->
                            </div><!--end:entry-content-->
                            
                        </article><!--end:post-item-->
                        
                        <article class="post-item video-post element">
                            
                            <div class="flx-entry-thumb">
                                <a href="#"><img src="placeholders/post-images/post-5.jpg" alt="" /></a>
                            </div><!--end:flx-entry-thumb-->
                            <header>
                                <h2 class="entry-title"><a  href="#">Morbi tristique, mauris eu imperdiet bibendum.</a></h2>
                                <span class="entry-author"><i class="icon-user"></i><a  href="#">Administrator</a></span>
                                <span class="entry-date"><i class="icon-time"></i>28.4.2013</span>
                                <span class="entry-categories"><i class="icon-suitcase"></i><a  href="#">illustrator</a></span>
                                <span class="entry-comment"><i class="icon-comments-alt"></i><a  href="#">15 comments</a></span>
                            </header>
                            <div class="entry-content clearfix">
                                
                                <p>In varius varius justo, eget ultrices mauris rhoncus non. Morbi tristique, mauris eu imperdiet bibendum, velit diam iaculis velit, in ornare massa enim at lorem. Etiam risus diam, porttitor vitae ultrices quis, dapibus id dolor. Morbi venenatis lacinia rhoncus. Vestibulum tincidunt ullamcorper eros eget luctus. Nulla eget porttitor libero.</p>
                                <a href="#" class="small-button green more-link">Continue reading</a>
                                <div class="outside-info">
                                    <p class="outside-date">22<span>Mar</span></p>
                                    <p class="outside-icon"><i class="icon-film"></i></p>
                                </div><!--end:outside-info-->
                            </div><!--end:entry-content-->
                        </article><!--end:flx-entry-item-->
      
                    
                    </div><!--end:container-->
                </div><!--end:flx-latest-blog-->

                    </div><!--end:span12-->
                
                </div><!--end:row-fluid-->
            
            </div><!--end:wrapper-->
            
        </div><!--end:flx-divider-->
        
    </div><!--end:main-content-->

    
    {% include footer.html %}
    {% include scripts.html %}



